*{
    font-style:normal;
    margin:0px;
    padding:0px;
}

a{
    text-decoration: none;
    color:inherit;
}

.fleft{
    float:left;
}
.fright{
    float:right;
}
.clearfix::after {
    content: " ";
    clear: both;
    width: 1px;
    display: block;
}

ul{
    list-style: none;
    margin:0px;
    padding:0px;
}